.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

.input {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  height: 30px;
  flex-grow: 1;
  padding-right: 30px;
}

.inputError {
  border-color: red;
}

.input:focus {
  outline: none;
  border-color: #0077ff;
}

.inputError:focus {
  border-color: red;
  outline: none;
}

.errorText {
  color: #d32f2f;
  font-size: 0.9rem;
  font-weight: bold;
}

.inputTextarea {
  height: 60px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.editIcon {
  position: absolute;
  right: 10px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .editIcon {
    right: 5px;
  }
}
